//pkgs.dev.azure.com/tjc-group/a1aa88d5-1abc-4850-9f77-9f8279fc6b88/_packaging/elsa-common/npm/registry/:username=tjc-group
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/tjc-group/a1aa88d5-1abc-4850-9f77-9f8279fc6b88/_packaging/elsa-common/npm/registry/:_password=Ymdqb2Nra291bmd0Mmh5N2h0eHJ6ZXNlbGNnaGN0NGZhemNzZ3dwcmFvdjdoajNkdm5iYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/tjc-group/a1aa88d5-1abc-4850-9f77-9f8279fc6b88/_packaging/elsa-common/npm/registry/:email=not-used@example.com
# registry=https://registry.npmjs.org/
# @tjc-group:registry=https://pkgs.dev.azure.com/tjc-group/a1aa88d5-1abc-4850-9f77-9f8279fc6b88/_packaging/elsa-common/npm/registry/ 
registry=https://pkgs.dev.azure.com/tjc-group/a1aa88d5-1abc-4850-9f77-9f8279fc6b88/_packaging/elsa-common/npm/registry/ 
always-auth=true